.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark-1);
    min-height: 50rem;
}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    // Element won't grow if there is space
    // Element won't shrink if there is not enough space
    // Element's initial size is 18%
    flex: 0 0 18%;

    display: flex;
    // Stretch the elements in the flex container vertically
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: var(--color-white);

    // TEST
    height: 80rem;

    flex: 1;
}
